<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.upms.rpc.dao.mapper.UpmsPermissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bobo.upms.rpc.pojo.UpmsPermission">
		<id column="permission_id" property="permissionId" />
		<result column="system_id" property="systemId" />
		<result column="pid" property="pid" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="permission_value" property="permissionValue" />
		<result column="uri" property="uri" />
		<result column="icon" property="icon" />
		<result column="status" property="status" />
		<result column="ctime" property="ctime" />
		<result column="orders" property="orders" />
	</resultMap>

</mapper>
