<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.upms.rpc.dao.mapper.UpmsSystemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bobo.upms.rpc.pojo.UpmsSystem">
		<id column="system_id" property="systemId" />
		<result column="icon" property="icon" />
		<result column="banner" property="banner" />
		<result column="theme" property="theme" />
		<result column="basepath" property="basepath" />
		<result column="status" property="status" />
		<result column="name" property="name" />
		<result column="title" property="title" />
		<result column="description" property="description" />
		<result column="ctime" property="ctime" />
		<result column="orders" property="orders" />
	</resultMap>

</mapper>
