<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.upms.rpc.dao.mapper.UpmsUserPermissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bobo.upms.rpc.pojo.UpmsUserPermission">
		<id column="user_permission_id" property="userPermissionId" />
		<result column="user_id" property="userId" />
		<result column="permission_id" property="permissionId" />
		<result column="type" property="type" />
	</resultMap>

</mapper>
