<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.cms.rpc.dao.mapper.CmsAttachmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.bobo.cms.rpc.pojo.CmsAttachment">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="user_id" property="userId" />
		<result column="content_id" property="contentId" />
		<result column="path" property="path" />
		<result column="mime_type" property="mimeType" />
		<result column="suffix" property="suffix" />
		<result column="type" property="type" />
		<result column="flag" property="flag" />
		<result column="lat" property="lat" />
		<result column="lng" property="lng" />
		<result column="order_number" property="orderNumber" />
		<result column="created" property="created" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, user_id AS userId, content_id AS contentId, path, mime_type AS mimeType, suffix, type, flag, lat, lng, order_number AS orderNumber, created
    </sql>

</mapper>
