<link href="#springUrl('/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/waves-0.7.5/waves.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/jquery-confirm/jquery-confirm.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/jquery-confirm/jquery-confirm.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/select2/css/select2.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/select2/theme/select2-bootstrap.min.css')" rel="stylesheet"/>
<link href="#springUrl('/static/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css')" rel="stylesheet"/>
<link href="#springUrl('/static/css/common.css')" rel="stylesheet"/>