<script src="#springUrl('/static/plugins/jquery.1.12.4.min.js')"></script>
<script src="#springUrl('/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js')"></script>
<script src="#springUrl('/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/waves-0.7.5/waves.min.js')"></script>
<script src="#springUrl('/static/plugins/jquery-confirm/jquery-confirm.min.js')"></script>
<script src="#springUrl('/static/plugins/select2/js/select2.min.js')"></script>
<script src="#springUrl('/static/plugins/zTree_v3/js/jquery.ztree.all.min.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>